<h1>Places & Entries</h1>

<form action="/entry" method="post">
  <p>
    <label for="field1">Place</label>
    <input type="text" name="place" id="field1">
  </p>
  <p>
    <label for="field2">YYYY-MM-DD</label>
    <input type="text" name="date" id="field2">

    <label for="field3">Entry</label>
    <input type="text" name="entry" id="field3">
  </p>
  <button>Submit</button>
</form>