<h1><%= @places["place"]%></h1>


<ul>
  <% for place in @places %>
    <li>
      <a href="/place/<%= Place["place"] %>">
        <%= Place["place"] %>
      </a>
    </li>
  <% end %>
</ul>



<p><a href="/place">Back to All Places</a></p>